<ul xmlns:th="http://www.thymeleaf.org" class="site-nav"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <li><a th:href="@{/clientForm}">Клиент</a></li>
    |&nbsp;
    <li><a th:href="@{/banksList}">Банки</a></li>
    |&nbsp;
    <li><a th:href="@{/clients.html}">Клиенты</a></li>
    |&nbsp;
    <li><a th:href="@{/credits.html}">Кредиты</a></li>
    |&nbsp;
    <li><a th:href="@{/logout}">Выйти</a>
    </li>
</ul>